/* Dato gracioso: estuve media hora resolviendo porque mi css no funcionava y resulta que 
no le puedes pones  " ; " despues de la llave final en css por que sino no aplica los estilos XD 
(mucho js ;v)*/

/* Hecho por Víctor Alexander Morales Lucero */
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body {
    width: 100vw;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(240, 240, 240);
}

#fondo01 {
    width: 600px;
    height: 450px;
    background-color: rgb(240, 240, 240);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

#fondo01>#fondo02 {
    width: 430px;
    height: 350px;
    border-radius: 15px 15px 100px;
    background-color: white;
}

#fondo01>#fondo02>#calculator {
    margin-left: 20px;
    width: 350px;
    height: 330px;
}

#fondo01>#fondo02>#calculator>#caja_01 {
    border-bottom: 1px solid rgb(215, 215, 215);
    padding-top: 20px;
    padding-right: 25px;
    padding-bottom: 20px;
    display: flex;
    
    margin-left: 10px;
    text-align: left;
    justify-content: space-around;
}

.date {
    font-size: 8px;
    margin-top: 8px;
    margin-bottom: 6px;
    font-weight: bold;
    color: rgb(163, 163, 163);
    font-family: 'Maven Pro', sans-serif;

}

.date_error {
    font-size: 8px;
    font-weight: bold;
    color: transparent;
    margin-top: 6px;
    user-select: none;
}

.box_date {
    display: inline-flex;
    flex-direction: column;
}

.i_date {
    width: 70px;
    height: 20px;
    border: 1px solid rgb(187, 187, 187);
    font-weight: 900;
    text-align: center;
}

#month.i_date {
    width: 70px;
    
}


#caja_02 {
    padding-left: 20px;
    font-family: 'Dela Gothic One', cursive;
    font-size: 20px;
    line-height: 30px;
    font-style: italic;
}

.span_css {
    color: rgb(133, 78, 247);
}

#submit {
    position: relative;
    bottom: 225px;
    left: 335px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid rgb(133, 78, 247);
    background-color: rgb(133, 78, 247);
    color: white;

    font-size: 25px;
    padding-bottom: 8px;
}

#submit:hover {
    transition: 500ms;
    background-color: white;
    color: rgb(133, 78, 247);
}

@media screen and (max-width: 950px) {
    body{
        width: 100%;
        height: 700px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #fondo01 {
        width: 300px;
        height: 500px;
    }
    #fondo01>#fondo02 {
        width: 280px;
        height: 380px;
    }

    #fondo01>#fondo02>#calculator>#caja_01{
        width: 230px;
        padding-right: 7px;
        padding-bottom: 40px;
    }
    .box_date{
        margin-left: 5px;
    }
    #day.i_date {
        width: 70px;
        height: 35px;
    }
    #month.i_date {
        width: 70px;
        height: 35px;
    }
    #year.i_date {
        width: 70px;
        height: 35px;
    }
    #submit {
        position: relative;
        bottom: 240px;

        left: 100px;
        height: 50px;
        width: 50px;
    
        font-size: 25px;
        
        padding-bottom: 8px;
    }
    
    #fondo01>#fondo02>#calculator>#caja_02 {
        padding-top: 20px;
    }

}
